@import "../../style.scss";

.historyPage {
  display: grid;
  padding: 30px;
  padding-top: 40px;
  grid-template-columns: 6% 80%;
  grid-template-rows: 10% 1fr;
  grid-column-gap: 8vw;
  grid-row-gap: 5vh;
}

.toolBar {
  grid-template-rows: 1/3;
  grid-template-columns: 1/2;
}

.logsContainer {
  grid-template-columns: 2/3;
  grid-template-rows: 2/3;
  margin: auto;
  text-align: center;

  width: 100%;
  height: 100%;
  h2 {
    margin-top: 30px;
  }
}

.historySVG {
  grid-template-rows: 1/2;
  grid-template-columns: 2/3;
  height: 140px;
  margin: auto;
}

.logContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  margin-bottom: 50px;
  border-radius: 16px;
}
.logContainer.Great {
  background-color: $Light-Green;
}
.logContainer.Good {
  background-color: $Light-Blue;
}
.logContainer.Okay {
  background-color: $Light-Orange;
}
.logContainer.Sad {
  background-color: $Light-Red;
}
.logContainer.Depressed {
  background-color: $Light-Purple;
}

.logDate {
  margin-right: 50px;
  margin-top: 20px;
  align-self: flex-start;
  font-weight: bold;
}

.logFaceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  width: 13%;
  height: 80%;
  border-radius: 16px;
  justify-self: flex-start;
  margin-left: 40px;

  .logImg {
    height: 75%;
    width: 75%;
  }
}
.logFaceContainer.Great {
  background-color: $Light-Green;
}

.logImg {
  height: 10px;
  width: 10px;
}
